<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>臺北市颱風災害即時資訊</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">臺北市颱風災害即時資訊</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="index.html">列表版</a></li>
                <li><a href="map.html">地圖版</a></li>
                <!--
                <li><a href="#">最新消息</a></li>
                <li><a href="#">防災相關</a></li>
                <li><a href="#">錯誤回報</a></li>
                -->
            </ul>
        </div>
    </div>
</nav>
<div id="main" class="container-fluid">
    <div class="row">
        <div class="main"><!-- col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 -->
            <div id="app" class="table-responsive" style="padding:10px;">
                <h2 class="sub-header">最新消息(列表版)</br><b>{{ keyword }}｜第 {{ page+1 }} 頁 / {{ pageNum }} 頁</b></h2>
                <div class="form-group">
                    <label for="area" class="col-sm-2 control-label"><b class="lead">區域：</b></label>
                    <div class="col-sm-10">
                        <select class="form-control" v-model="keyword" @change="resetPage()">
                            <option id="area" v-for="val in getlist" v-bind:value="val">{{ val }}</option>
                        </select>
                    </div>
                </div>
                <!--div class="text-center pageBox">
                  <ul class="pagination">
                    <li class=""><a href="#" @click="setPage(-1)" value="上一頁">&lt;&lt;</a></li>
                    <li><a href="#" v-for="obj in getNewList" @click="setPage(obj.add)">{{ obj.val }}</a></li>
                    <li class=""><a href="#" @click="setPage(1)" value="下一頁"> &gt;&gt; </a></li>
                  </ul>
                </div-->
                <!--
                <input class="btn btn-success" type="button" @click="setPage(-1)" value="上一頁"/>
                <button class="btn btn-success" v-for="obj in getNewList" @click="setPage(obj.add)"/>{{ obj.val }}</button>
                <input class="btn btn-success" type="button" @click="setPage(1)" value="下一頁"/>
                -->
                <hr />
                <div class="table-responsive list pageBox" style="min-width:100%;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>行政區</th>
                            <th>災害專案名稱</th>
                            <th>發生時間</th>
                            <th>災情種類大概</th>
                            <td>細目</td>
                            <!--
                            <th>災情種類細項</th>
                            <th>災情地點</th>
                            <th>災情描述</th>
                            <th>處理完畢</th>
                            -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='data in search'>
                            <td>{{data.CaseLocationDistrict}}</td>
                            <td>{{ data.DPName }}</td>
                            <td>{{data.CaseTime}}</td>
                            <td>{{data.PName}}</td>
                            <!--td><button class="btn btn-primary">查看更多</button></td-->
                            <!--tr><button class="btn btn-primary" @click="swal({title: `<h1>${data.Name}</h1>`,text: `<p>地區: <b>${data.CaseLocationDistrict}</b></br>時間: <b>${data.CaseTime}</b></p><p>災害: <b>${data.DPName}</b></br>災情: <b>${data.PName}</b></p><p>處理單位: <b>${data.CaseCommunicatorUnit}</b></p><p>是否解決: <b>${data.CaseComplete=='true'?'是':'否'}</b></p>`,html: true});">查看更多</button></tr-->
                            <td @click="doSwal({
                              title:'<h1>狀況: <b>'+data.Name+'</b></h1>',
                              text:'<div style=text-align:left;margin-left:25%;font-size:24px;><p>地區: <b>'+data.CaseLocationDistrict+'</b></br>時間: <b>'+data.CaseTime+'</b></p><p>災害: <b>'+data.DPName+'</b></br>災情: <b>'+data.PName+'</b></p><p>處理單位: <b>'+data.CaseCommunicatorUnit+'</b></p></div>',html:true})"><button class="btn btn-primary">查看更多</button></td>
                            <!--
                            <td>{{data.Name}}</td>
                            <td>{{data.CaseLocationDescription}}</td>
                            <td>{{data.CaseDescription}}</td>
                            <td v-if="data.CaseComplete == 'true'">是</td>
                            <td v-else>否</td>
                            -->
                        </tr>
                    </tbody>
                </table>
                <!--
                <input class="btn btn-success" type="button" @click="setPage(-1)" value="上一頁"/>
                <button class="btn btn-success" v-for="obj in getNewList" @click="setPage(obj.add)"/>{{ obj.val }}</button>
                <input class="btn btn-success" type="button" @click="setPage(1)" value="下一頁"/>
                -->
                </div>
                <div class="text-center pageBox">
                  <ul class="pagination">
                    <li class=""><a href="#" @click="setPage(-1)" value="上一頁">&lt;&lt;</a></li>
                    <li v-for="obj in getNewList" v-bind:class="obj.class" @click="setPage(obj.add)">
                      <a href="#">{{ obj.val }}</a>
                    </li>
                    <li class=""><a href="#" @click="setPage(1)" value="下一頁"> &gt;&gt; </a></li>
                  </ul>
                </div>
            </div>
            <a style="position:fixed;bottom:5px;right:5px;color:white;background:#337ab7;padding:8px 15px;border-radius:5px;" href="#main">top</a>
        </div>
    </div>
</div>
<script>
'use strict';
var vue = new Vue({
    el:"#app",
    data:{
        page:0,
        pageNum:0,
        maxShow:10,
        keyword:"請稍候...",
        apiUrl:"https://tcgbusfs.blob.core.windows.net/blobfs/GetDisasterSummary.json"
    },
    ready: function() {
        this.ajax()
    },
    methods: {
        ajax: function() {
            this.$http.get(this.apiUrl)
                .then((response) => {
                    this.$set('data', response.data.DataSet['diffgr:diffgram'].NewDataSet.CASE_SUMMARY);
                    this.keyword = '請選擇行政區'
                })
                .catch(function(response) {
                    console.log(response)
                })
        },
        setPage: function(n){
            // console.log(this.db.length-((this.page+n)*10+10))
            if(this.page+n>=0&&n<0)
                this.page+=n;
            else if(this.db.length-((this.page+n)*this.maxShow+this.maxShow)>-this.maxShow&&n>0)
                this.page+=n;
            // this.getNewList();
        },
        resetPage: function(){
            this.page = 0;
        },
        doSwal:function(data){
          swal(data);
        }
    },
    computed:{
        getlist:function getlist(){
            if(!this.data)return ["請稍候..."];
            var _this = this;
            var list = ['全部'];
            this.data.map(function(el){
                var loc = el.CaseLocationDistrict;
                if(list.indexOf(loc)==-1)
                    list.push(loc);
            })
            // console.log(list);
            return list;
        },
        search:function search(){
            if(this.keyword=='請稍候...'){
                this.db = [];
                return ["請稍候"];
            }else if(this.keyword=='全部'){
                this.db = this.data;
                this.pageNum = Math.ceil(this.db.length/this.maxShow);
                return this.db.slice(this.page*this.maxShow, this.page*this.maxShow+this.maxShow);
            }
            var _this = this;
            var db = this.data.filter(function(val){
                return new RegExp(_this.keyword, 'g').test(val.CaseLocationDistrict);
            });
            this.db = db;
            this.pageNum = Math.ceil(this.db.length/this.maxShow);
            // console.log(this.page);
            // console.log(db);
            return db.slice(this.page*this.maxShow, this.page*this.maxShow+this.maxShow);
        },
        getNewList:function(){
            var tmp = Math.floor((this.db.length - (this.page*this.maxShow+this.maxShow))/this.maxShow)
            console.log('dev',tmp);
            var arr = []
            tmp = tmp>2?1:tmp;
            for(var i=-3;i<=tmp;i++)
                if(this.page+i+1>=0)
                    arr.push({add:i+1, val:this.page+2+i, class:`${this.page+1==this.page+2+i?'active':0}`});
            if(this.page==0||this.page==1){
                for(var i=arr.length;i<5;i++)
                    arr.push({add:this.page+i, val:i+1, class:""})
            }else
                for(var i=arr.length;i<5;i++)
                    arr.push({add:0, val:'-'})
            console.log(typeof arr[arr.length-1], JSON.stringify(arr));
            return arr;
        }
    }
});
</script>
</body>
</html>